*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
}
.personaje{
    position:relative; 
    overflow: hidden;
}
.desc{
    position:absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color:white;
    background: rgba(0,0,0,0.6);
    transition: all ease-out 1000ms;
    transform: translateY(100%);
  
    
}

.person-img{
    transition: all 1000ms;
}

.personaje:hover .desc{
    transform: translateY(0%);
   
    
}

.personaje:hover .person-img{
    transform: scale(1.25);
}
